@model DP.Web.Models.Incident

@{
    ViewData["Title"] = "Create";
}

<h1>Fill Incident Details</h1>
<div class="spinner-grow text-muted"></div>
<div class="spinner-grow text-primary"></div>
<div class="spinner-grow text-success"></div>
<div class="spinner-grow text-info"></div>
<div class="spinner-grow text-warning"></div>
<div class="spinner-grow text-danger"></div>
<div class="spinner-grow text-secondary"></div>
<div class="spinner-grow text-dark"></div>
<div class="spinner-grow text-light"></div>

<marquee><h4 style="text-shadow:3px 2px 0px #C0C">Your previous details have been successfully submitted. Now, please fill correct Incident Details.</h4></marquee>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IncidentDetail" class="control-label"></label>
                <input asp-for="IncidentDetail" class="form-control bg-info" />
                <span asp-validation-for="IncidentDetail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FileUpload" class="control-label"></label>
                <input readonly="true" value="NA" asp-for="FileUpload" class="form-control bg-info" />
                <span asp-validation-for="FileUpload" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfPeopleDied" class="control-label"></label>
                <input asp-for="NumberOfPeopleDied" class="form-control bg-info" />
                <span asp-validation-for="NumberOfPeopleDied" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfPeopleInjured" class="control-label"></label>
                <input asp-for="NumberOfPeopleInjured" class="form-control bg-info" />
                <span asp-validation-for="NumberOfPeopleInjured" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input bg-info" asp-for="IsVideoFootageAvailable" /> @Html.DisplayNameFor(model => model.IsVideoFootageAvailable)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ComplainerId" class="control-label"></label>
                <select asp-for="ComplainerId" class="form-control bg-info" asp-items="ViewBag.ComplainerId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" style="margin-left:400px; width:450px"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-outline-dark" asp-action="Index" style="margin-left:400px; width:450px">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
